.first,
.second {
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.auth-logo {
    margin-top: 50px;
    margin-bottom: 12px;
}

.auth-title {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

p.auth-description {
    font-size: 14px;
    color: var(--color-muted);
    text-align: center;
    line-height: 1.4;
}

/* ===== ФОРМЫ ===== */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-bottom: 6px;
}

input {
    width: 300px;
    margin: 0, auto;
    padding: 14px 16px;
    border-radius: 12px;
    border: 1px solid #ddd;
    font-size: 20px;
}

input:focus {
    outline: none;
    border-color: var(--color-accent);
}

.auth-button {
    width: 200px;
    padding: 14px;
    border-radius: 14px;
    border: none;
    background: var(--color-primary);
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.auth-button.secondary {
    background: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    margin-top: 12px;
}

.auth-button:disabled {
    opacity: 0.5;
}