.dialogs {
    display: grid;
    grid-template-columns: 80px minmax(100px, 150px) 1fr;
    height: 100vh;
    background: var(--bg-main);
}

.sidebar-nav {
    margin-top: 30px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}

.nav-top,
.nav-bottom,
.list-actions,
.chat-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-icon,
.list-action {
    background: var(--bg-main);
    border: 1px solid var(--bg-main);
}

.list-actions {
    margin-top: 20px;
    align-items: start;
    padding-bottom: 20px;
}

.header__icon {
    width: 50px;
    height: 50px;
}

.header {
    background: var(--bg-main);
    margin-left: 50px;
    font-size: 15px;
    font-weight: 500;
}

.chat-actions {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}

.chat-messages {
    width: 100%;
    display: flex;
    flex-direction: column;
}